.main-container, .second-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 1.78;
  color: #707070;
  font-family: var(--font-family-primary);
}

.learn-more{
  font-family: 
  color: black;
}

.customize-img,
  .customize, .second-img, .second{
    width: 45%;
  }
  
  .customize-img, .second-img{
    position: relative;
  }

  .customize-img img{
    max-width: 100%;
    height: auto;
    float: right;
  }

  .second-img img{
    max-width: 100%;
    height: auto;
    float: left;
  }

  .customize-img .bg-img {
    position: absolute;
    background-color: #857dfb;
    top: 30px;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
  }

  .customize-img .bg-img2{
    position: absolute;
    background-image: url('/img/about_img/third_back.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    top: 30px;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: -1;
  }

  .second-img .second-bg{
    position: absolute;
    background-image: url('/img/about_img/second_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    top: 50px;
    right: 0;
    width: 80%;
    height: 100%;
    z-index: -1;
  }

  .customize .customize-title{
    font-size: 30px;
    color: black;
    max-width: 80%;
  }

  .second .second-title{
    font-size: 30px;
    color: black;
    max-width: 80%;
    margin-left: 65%;
  }

  .customize .title-description{
    color: black;
    font-size: 16px;
    max-width: 450px;
    font-weight: lighter;
  }

  .second .second-description {
    color: black;
    font-size: 16px;
    max-width: 450px;
    font-weight: lighter;
    margin-left: 65%;
  }

  .check, .check2{
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    color: black;
    font-weight: lighter;
    max-width: 400px;
  }
  .check1, .check3{
    margin-bottom: 30px;
    font-size: 16px;
    display: flex;
    color: black;
    font-weight: lighter;
    max-width: 400px;
  }

  .check .fa-check, .check2 .fa-check {
    color: salmon;
    margin: 10px 10px 0 0;
  }

  .customize{
    padding: 0 15px;
    margin-right: 50px;
  }

  .second{
    padding: 15px 0;
    margin-left: 50px;
  }

  @media (max-width: 991px) {
    .main-container{
      flex-direction: column;
      align-items: flex-start;
    }

    .second-container{
      flex-direction: column;
      align-items: flex-end;
    }

    .customize-img, .second-img{
      max-width: 100%;
    }
    .customize{
      max-width: 80%;
      margin: 50px auto 0;
    }
    .second{
      max-width: 80%;
      margin: 50px auto 0;
    }
  }
  @media (max-width: 768px) {
    .main-container{
      flex-direction: column;
      align-items: flex-start;
    }
    .second-container{
      flex-direction: column;
      align-items: flex-end;
    }


    .customize-img, .second-img{
      max-width: 70%;
    }
    .customize, .second{
      max-width: 50%;
      margin: 50px auto 0;
    }
  }