.container .customer-review > row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container customer-review-cards {
    width: 90%;
    justify-content: center;
}
.customer-review-card {
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 20px #3333;
    margin-bottom: 30px;
    
    
}

.customer-review {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    line-height: 70px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.customer-review > img {
    font-size: 20px;
    color: var(--color-grey);
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    line-height: 80px;
}
.customer-review-card-top-part{
    margin-bottom: 10px;
}


.customer-review-text {
    display:block;
    width: 100%;
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-grey);
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    max-width: 320px;
    text-align: left;
}
.customer-review > h5 {
    color: #4F2FAA;
}


.stars {
    color:var(--color-secondary);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}




/* inverted customer card style */

.customer-review-inverted-card{
    padding: 40px 40px;
    background-color: var(--color-secondary);
    border-radius: 20px;
    box-shadow: 0 5px 20px #3333;
}


.customer-review-inverted { /* day */
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    color: #fff;
    float: left;
    margin-right:10px;
}
.customer-review-holder{
    margin-top: 10px;
    padding:10px;
}

/* .price-inverted > span */
.old-price {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    line-height: 25px;
    margin-left: 20px;
    display: block;
    text-decoration: line-through;
    opacity: 0.7;
}

.customer-review-card-top-part{
    margin-bottom: 10px;
}

.price-inverted-text {
    display:block;
    width: 100%;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
    max-width: 320px;
}

.check-inverted-style {
    color:#fff;
    font-size: 20px;
    line-height: 30px;
    margin-right: 10px;
}

.check-inverted-style-text {
    color:#fff;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.check-style-box{
    margin-bottom: 30px;
}
