.footer {
    background-image: url('../../img/footer/footer-bg.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
.footer-container {
    width: 1410px;
    margin: 0px auto;
    padding: 120px 0 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 110px;
    margin: 0 0 30px;
}
.footer-box-1 p {
    max-width: 380px;
    font-weight: 300;
    font-family: var(--font-family-secondary);
    line-height: 1.78;
    margin: 0 0 30px;
}
.footer-box-1 a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    border-radius: 50px;
}
.footer-box-1 i {
    color: black;
}
.footer-heading {
    display: flex;
    flex-direction: column; 
    padding: 0 15px;
}
.footer-heading h3 {
    font-family: var(--font-family-primary);
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
}
.footer-heading a {
    font-family: var(--font-family-secondary);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.78;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 0.5s;
}
.footer-email-form {
    max-width: 470px;
    padding: 0 15px;
}
.footer-email-form h3 {
    font-family: var(--font-family-primary);
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
}
.footer-email-form p {
    font-family: var(--font-family-secondary);
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.78;
}
.footer-email-button {
    position: relative;
}
.footer-box-2 a:hover {
    color: #fbf349;
    transform: translateX(5px);
}
.footer-box-3 a:hover {
    color: #fbf349;
    transform: translateX(5px);
}
.footer-box-3 a:hover {
    color: #fbf349;
    transform: translateX(5px);
}
.socials a:hover {
    background-color: #fbf349;
}
#footer-email {
    width: 100%;
    height: 60px;
    border: none;
    padding-left: 25px;
    padding-right: 150px;
    margin: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
}
#footer-email::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #707070;
}
#footer-email:focus {
    outline: none;
}
#footer-email-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    color: #4e2fa9;
    background-color: #fbf349;
    padding: 15px 30px;
    line-height: 1;
    font-weight: 600;
    font-size: 18px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family-primary);
}