
header {
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: center;
    background-color: #4E2EA9;
    width: 100%;
   }
   
   .containerh {
       display: flex;
       justify-content: space-between;
       background-color: #4E2EA9;
       width: 85%; 
       min-height: 100px;
   }
   
   header .logo {
       width: 116px;
       height: 24px;
       margin-top: 38px;
   }

   header .links .home {
       color: #5dd9c1;
   }
   
   header .links a {
       padding-left: 24px;
       padding-right: 24px;
       text-decoration: none;
       color: white;
       line-height: 100px;
       font-size: 20px;
       text-transform: capitalize;
       font-weight: 400;
   }

   header .signup {
       padding: 10px 33px;
   }
   
   header i {
    display: inline-block!important;
    color: #5dd9c1;
    margin-top: 34px;
   }

   @media (max-width: 992px) {
       header a {
           display: none;
       }

   }
   @media (min-width: 992px) {
       .containerh {
           width: 960px;
       }
       header i {
        display: none !important;
       }
   }
       @media (min-width: 1200px) {
           .containerh {
               width: 1140px;
           }
   }
   @media (min-width: 1500px) {
       .containerh {
           width: 1410px;
        }
   }
header > .menu {

}

header > .slidemenu {
    position: fixed;
    width: 400px;
    height: 100vh;
    right: 0;
    background-color: gainsboro;
    z-index: 1;
}

header .close {
    font-size: 30px;
    display: none;
}

header .xappear {
    display: contents;
}



