header {
  font-family: var(--font-family-primary);
  display: flex;
  justify-content: center;
  background-color: #4e2ea9;
  width: 100%;
}
.sticky {
  background-color: var(--color-white);
  color: black;
  position: sticky;
  top: 0;
  z-index: 12;
  box-shadow: 0px 4px 23px -7px rgba(161, 161, 161, 0.66);
}
.sticky a:not(.home, .btn-global) {
  color: black;
}


.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #4e2ea9;
  width: 85%;
  min-height: 100px;
}

header .logo {
  width: 116px;
  height: 24px;
  margin-top: 38px;
}

header .links .home {
  color: #5dd9c1;
}

header .links a {
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  color: white;
  line-height: 5;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
}
header .link:hover {
  color: #5dd9c1;
}

header .signup {
  padding: 10px 33px;
}

header i {
  display: inline-block;
  color: #5dd9c1;
  margin-top: 34px;
}

header .links i {
   cursor: pointer;
  }

@media (max-width: 992px) {
  header .header-container a {
    display: none;
  }
}
@media (min-width: 992px) {
  .header-container {
    width: 960px;
  }
  header .links i {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-container {
    width: 1140px;
  }
}
@media (min-width: 1500px) {
  .header-container {
    width: 1410px;
  }
}

header .links-container {
}

header .displayn {
  display: none;
}

header > .appearContainer {
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 3;
}

header > .links-container > .close {
  display: inline-block;
  float: right;
  margin: 32px 20px 0 0;
  font-size: 30px;
  line-height: 1;
}

header > .links-container > .close {
  cursor: pointer;
}

header > .links-container > .sideLinks {
  margin-top: 50px;
}

header .sideLinks a {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
}

header .sideLinks a:hover {
  cursor: pointer;
}

header > .links-container > .sidelogo {
  margin-left: 20px;
}
