.logo-section {
    font-size: var(--font-size-46);
    text-align: center;
    position: relative;
}
.logo-content {

}
.logo-content > .logo-header {
    font-size: var(--font-size-46);
    font-weight: 600;
    margin-bottom: 20px;
}

.logo-content > .logo-paragraph{
display: inline-block;
font-size: 20px;
margin: auto;
}

.logo-carousel {
    width: 66%;
    display: inline-block;
    background-color: bisque;
    overflow: hidden;
    position: relative;
}

.logo-carousel > .logo-fotos {
    display: inline-block;
    /* width: calc(100% * 10/5); */
    background-color: aqua;
}
.logo-carousel > .logo-fotos > .gallery-logo{
    display: inline-block;
    float: left;
    /* width: calc(100% / 10 ); */
    height: 60px;
    object-fit: contain;
    object-position:center;
    opacity: 0.3;
    transition: 0.3s;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 30px;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 30px;
}

.arrow-right:hover{
    color: orange;
}