.solution{
    font-family: var(--font-family-primary);
    padding: 140px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.solution-container > h2 {
    font-size: var(--font-size-46);
    font-weight: 600;
    margin-bottom: 50px;

}
.solution > .solution-container {
    display: inline-block;
}
.solution-container > .box-container{
    display: grid;
    justify-items: center;
    grid-template-columns:1fr 1fr ;
    background-color:chocolate ;
    gap: 30px;
    width: 1410px;
}
.box-container > .solution-box {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 5px 15px #bbbbbb ;
    text-align:left;
    border-radius: 15px;
    padding: 60px 40px;
    transition-duration: .7s;
}
.box-container > .solution-box:hover{
    transform: translateY(-10px);
    transition-duration: .7s;
}

.solution-box > .solution-header {
    font-size: 24px;
    color: #292929;
    font-weight: 500;
}
.solution-box > .solution-paragraph {
    display: inline-block;
    font-size: 16px;
    width: 70%;
    color: #707070;    
}
.solution-box > .logo-box {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
}
.logo-box > .solution-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}


