html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  /* vertical-align: top; */
  box-sizing: border-box;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

img {
  max-width:100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn-global {
  padding: 20px 35px;
  border-radius: 6px;
  background-color: #fbf349;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  /* z-index: 8; */
}
.btn-global:hover {
  background-color: var(--color-light-blue);
  color: white;
}