/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Global variables */

:root{
    --font-family-primary:'Hind', sans-serif;
    --font-family-secondary:'Ubuntu', sans-serif;
    --font-size-46: 46px;
    --color-transparent: transparent;
    --color-light-blue: #5dd9c1;
}
